LETSENCRYPT_EMAIL=zhengr@msn.com
ERPNEXT_VERSION=version-13
FRAPPE_VERSION=version-13
MARIADB_HOST=mariadb
MYSQL_ROOT_PASSWORD=admin
SITE_NAME=custom-erpnext-nginx
SITES=`custom-erpnext-nginx`
DB_ROOT_USER=root
ADMIN_PASSWORD=admin
INSTALL_APPS=erpnext,metabase_integration,erpnext_telegram_integration,frepple,barcode_shrdc
ENTRYPOINT_LABEL=traefik.http.routers.excel-erpnext-nginx.entrypoints=web
DOCKER_USERNAME=registry.cn-hangzhou.aliyuncs.com/zhengr
ERPNEXT_SERVER_PORT=18000
MARIADB_SERVER_PORT=3306
